@media screen and (max-width: 1600px)
  .photoPackage .itemPhoto .smallBox .contentPhoto .contentPhotoBody
    max-width: 800px
    text-align: center
  .default h2
    margin-left: -35%
  .default .contentPhotoBody
      margin-left: 8%
  .premium
    img
      transform: translateX(0%) !important
  .premium.active
    img
      transform: translateX(-10%) !important
  .gold
    h2
      margin-left: 35%
    img
      transform: translateX(30%) !important
  .gold.active
    img
      transform: translateX(0) !important
@media screen and (max-width: 1440px)
  .default h2
    margin-left: -30%
  .gold
    h2
      margin-left: 38%
@media screen and (max-width: 1366px)
  .trainingGrid
    .item
      font-size: 14px
      > .title
        font-size: 30px
      .extraText
        padding: 15px
        .title
          margin: 5px 0
  .trainingPrice
    margin: 0 15px
    .item
      margin: 0 10px
  h1
    font-size: 40px
  .carouselText
    padding-bottom: 0
    padding-right: 100px
    p
      font-size:  18px
  .default
    .contentPhotoBody
      margin-left: 5%
@media screen and (max-width: 1024px)
  .trainingPrice
    padding-top: 100px
    padding-bottom: 30px
    .container
      flex-direction: column
      align-items: center
      justify-content: center
    .item
      box-shadow: 0 5px 10px rgba(0,0,0,.05)
      top: 0 !important
      min-height: 500px
      max-width: 325px
      margin-bottom: 30px
      transform: none!important
    .front, .back
      font-size: 14px
      .extraTitle
        font-size: 16px
        margin: 25px 0 15px
    .title
      margin-bottom: 10px !important
  .trainingGrid
    grid-template-areas: 'a a c c' 'd b c c' 'e e k m' 'e e k m'
    .item
      .title
        font-size: 100%
  .trainingContent
    overflow: hidden
    padding: 0 60px
    > div
      width: 100%
    p
      max-width: 100%
      font-size: 14px
      margin-bottom: 50px
      text-align: center
    .title
      text-align: center
      font-size: 30px
      padding-bottom: 30px

  .trainingBigBox.reverse
    flex-direction: column-reverse
  .trainingBigBox
    margin-bottom: -100px
    position: relative
    display: flex
    flex-direction: column
    > div
      position: relative
      z-index: 2
    .trainingPhoto
      right: -50%
      transform: translateX(-50%)
      max-width: 500px
      width: 100%
      height: 500px
      position: relative
      top: -150px
      //bottom: -25%
      z-index: 1
    .trainingPhoto.b30
      bottom: -40%
  .trainingContent .title.r
    text-align: center
  .preim
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    li
      font-size: 14px
      background-color: $w-color
      text-align: center
      > div
        background-color: $w-color
  .preim.left
    align-items: center
  .textAccent
    text-align: center
    font-size: 18px
  .photoScrollBottom
    display: block
  .arrowBoxPhoto
    display: none
  .photoPackage
    height: 100%
    overflow: auto
    flex-direction: column
    .itemPhoto
      height: 100vh
      clip-path: none !important
      position: relative
      .smallBox
        height: 100%
        img
          transform: translateX(0) !important
          height: 100%
        .contentPhoto
          display: flex
          align-items: flex-start
          justify-content: center
          flex-direction: column
          padding: 30px 60px
          background-color: rgba(0,0,0,.9)
          h2
            text-align: left
            margin: 0 0 60px
            font-size: 48px !important
          .contentPhotoBody
            margin-left: 0
            margin-top: 60px
            font-size: 18px
            opacity: 1
            text-align: left
            right: 0
            max-width: 100% !important
@media screen and (max-width: 988px)
  .absoluteDescription
    display: block

  .noHome
    top: 0px
    background-color: #000
    padding: 20px 0
    a
      top: 22px
  .photoScrollBottom
    z-index: 6
  .photoBox
    column-count: 2
    .item
      margin-bottom: 3px
      border: none
  .modalPhoto.show
    img
      height: auto
      width: 90%
      position: relative
      z-index: 11
  .carouselItem.active .carouselText
    h1
      top: 0
    p
      left: 0

  .carouseItemBox
    img
      height: 100vh
  h1
    font-size: 32px
  .carouselText
    text-align: center
    align-items: center
    padding-right: 7%
    padding-left: 7%
    p
      font-size:  18px
      padding-right: 0
  .linkHome
    right: 50%
    transform: translateX(50%)
  .carouselDots
    top: 70px
  .navScroll
    right: 0
  .menu--1
    left: auto
    right: 0
    z-index: 13
  nav
    background-color: #000
    left: auto
    border-radius: 0
    z-index: 12
    right: -100%
    &.active
      left: auto
      right: 0
      width: 100%
  .nav
    justify-content: center
    .item
      left: auto
      right: -50px
    a
      text-align: center
  .menu
    position: relative
    z-index: 13
@media screen and (max-width: 600px)
  .trainingContent p
    margin-bottom: 30px
  .textAccent
    margin-bottom: 15px
  .carouselDotItem > div
    width: 5px
    height: 5px
  h1
    font-size: 24px
  h2
    font-size: 20px
  .carouselItem
    img.right
      transform: translateX(-69%)
  .linkTo
    font-size: 16px
  .carouselText
    text-align: center
    .title
      font-size: 20px
  .linkHome
    left: 0
    padding-left: 25px
    right: 0
    transform: none
    display: flex
    a
      order: 0
    a
      &:first-child
        order: 1
  .svgInst, .svgVk
    margin-left: 0
    margin-right: 10px
  .phone
    position: absolute
    top: 1px
    left: 50%
    transform: translateX(-50%)
    font-size: 18px
  label
    top: -9px
  .photoPackage
    .itemPhoto
      .smallBox
        img
          transform: translateX(-40%) !important
        .contentPhoto
          padding: 15px 15px
          align-items: center
          h2
            text-align: left
            font-size: 20px !important
            margin-bottom: 0
          .contentPhotoBody
            align-items: center
            display: flex
            flex-direction: column
            margin-top: 30px
            p
              font-size: 14px
              padding-left: 30px
              position: relative
              &:first-child
                &:before
                  top: 10px
              &:before
                content: ''
                position: absolute
                height: 7px
                width: 7px
                background-color: $ac-color
                top: 3px
                border-radius: 50%
                left: 10px
              .accentP
                font-size: 18px
            .pricePhoto
              font-size: 20px !important
              span
                font-size: 14px
              margin-top: 15px
              &:nth-child(5)
                margin-top: 0
            .showPhoto
              margin-top: 25px
  .trainingGrid
    grid-template-columns: 1fr
    grid-template-rows: repeat(7, 1fr)
    grid-template-areas: 'a' 'b' 'c' 'd'  'e'  'k'  'm'
    .item
      &:hover
        .title
          opacity: 1
      .extraText
        display: none
  .trainingContent
    padding: 0 30px
  .trainingBigBox
    margin-bottom: 0
  .trainingBigBox .trainingPhoto
    top: 0
    display: none
    height: 300px
    width: 300px
  .preim li
    width: auto
    padding: 10px 15px
    //background-color: $ac-color3
    > div
      //background-color: $ac-color3